html,
body {
  margin: 0;
  padding: 0;
  background-image: url(resource/钢琴.jpg); 
  background-attachment: fixed;
}

canvas {
  display: block;
}

h1 {
  color: gainsboro;
  font-family: 'Nerko One', cursive;
}
h2 {
  color: gainsboro;
  font-family: 'Nerko One', cursive;
  font-style: oblique;
  font-size: 40px;
}

h3 {
  color: lightgrey;
  font-family: 'Nerko One', cursive;
  font-size: 20px;
}

h4 {
  color: white;
  font-family: 'Nerko One', cursive;
  font-size: 40px;
}

h5 {
  color: rgba(52, 39, 15, 0.824);
  font-size: 20px;
}
.ins {
  background-color:rgba(0, 0, 0, 0.269);
}
.all{
  display: flex;
  justify-content: center;
}